<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson03.mapper.RealEstateMapper">
 	
 	<!-- L3Q1 1번 문제 -->
 	<select id = "selectRealEstateById" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
 	</select>
 	
 	<!-- L3Q1 2번 문제 -->
 	<select id = "selectRealEstateListByRentPrice" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`type` = "월세" and `rentPrice` &lt; #{rentPrice}
 	</select>
 	
 	<!-- L3Q1 3번 문제 -->
 	<select id = "selectRealEstateListByAreaPrice" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`type` = "월세" and `rentPrice` &lt; #{rentPrice}
 	</select>
 
 </mapper>